@import "tailwindcss";

@layer utilities {
  @keyframes typewriter {
    from {
      width: 0;
    }
    to {
      width: var(--width-end);
    }
  }

  @keyframes blink {
    from,
    to {
      border-color: transparent;
    }
    50% {
      border-color: currentColor;
    }
  }

  .animate-typewriter {
    animation: typewriter 3s steps(var(--steps)) forwards,
      blink 750ms step-end infinite;
    white-space: nowrap;
    overflow: hidden;
    display: inline-block;
    position: relative;
    font-family: monospace;
  }
}

.section {
  padding-block: 64px;
  padding-inline: 16px;
}
